# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run the demo for this project.
# ------------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# OpenAI
# -----------------------------------------------------------------------------

# OpenAI API Key - https://platform.openai.com/overview
OPENAI_API_KEY= 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

# OpenAI Base Url - https://api.openai.com/v1
OPENAI_API_BASE_URL= https://platform.openai.com/account/api-keys

# change this to an `accessToken` extracted from the ChatGPT site's `https://chat.openai.com/api/auth/session` response
OPENAI_ACCESS_TOKEN =ey JhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1UaEVOVUpHTkVNMVFURTRNMEZCTWpkQ05UZzVNRFUxUlRVd1FVSkRNRU13UmtGRVFrRXpSZyJ9。.S2b9R3NvpZwUB6qL4dtE5WXrIrv51KQHnKkVzkuJR9Xs2Bcoemmi8y37qZ-7zfAtx_4WMeSGWjTrMwlaCmKD51nKjrgbYJCGNY2FIn4CxO8z8XD6kmFYmS5NIXCUXQBe4_xLegj0 Tikas8_KFyHJhe0X8Vdq78RonxX02y40qAZ9Te5sp1tgdrpeFyNPfGR1MWZXquQN_YxAsLYURbM0IEnft7wxZkbzKeqvPi964nPSt2AgQO_AjDH1MlPoDTAED6iU3XJM-vZKgS9fL70Ci 1T7tA3cpuMIk8HZzWZYSpQC0zFaPVM_PiOAKigPZx3V1iAP2UCjn4_kAV2KYFwJ0w

# Reverse Proxy default 'https://api.pawan.krd/backend-api/conversation'
API_REVERSE_PROXY=

# timeout
TIMEOUT_MS=60000

# Rate Limit
MAX_REQUEST_PER_HOUR=
